.process {
	position: relative;
	padding-top: 30px;
	
	@media (min-width: 580px) {
		padding-top: 25px;
	}

	@media (min-width: 770px) {
		padding-top: 20px;
	}

	@media (min-width: 990px) {
		padding-top: 10px;
	}

	@media (min-width: 1200px) {
		padding-top: 0;
	}	

	.background_vector {
		position: absolute;
		top: 0;
		right: 0;
        transform: translateX(-50%);
	}

	background-image: url("../../../public/processVector1.svg");
	background-repeat: no-repeat;
	background-position: 100% 35%;
}
