@import "../../../styles/variables560.scss";

.footer {
	scroll-snap-align: end;
	padding: 80px 0;
	background: $base-color-light;

	@media (max-width: 770px) {
		padding: 40px 0;
	}

	&__details {
		width: 100%;
		order: 2;
		// @media (min-width: 580px) {
		// 	max-width: 540px;
		// }

		// @media (min-width: 770px) {
		// 	max-width: 35%;
		// }

		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		> :nth-child(1),
		> :nth-child(2) {
			width: 100%;
			// @media (min-width: 770px) {
			// 	width: 50%;
			// }
		}

		@media (min-width: 1200px) {
			order: 1;
			max-width: calc(40% - 40px);
			margin: 0 80px 0 0;
		}
		&_heading {
			font-size: $size-xs;
			font-weight: $font-weight-normal;
			line-height: $line-height-xs;
		}

		&_contacts {
			margin-bottom: 60px;
			&_content {
				font-size: $size-s;
				font-weight: $font-weight-bold;
				line-height: $line-height-m;
			}
		}

		&_socials {
			margin-bottom: 60px;
			&_content {
				margin-top: 18px;
				display: flex;
				gap: 32px;
				align-items: center;
				font-size: $size-s;
			}
		}

		&_copyright {
			&_subtitle {
				font-size: $size-xxs;
				font-weight: $font-weight-secondary;
				line-height: $line-height-xxs;
				color: $grey;
				margin-bottom: 8px;
			}
			&_heading {
				font-size: $size-s;
				font-weight: $font-weight-normal;
				line-height: $line-height-m;
			}
		}
	}

	&__contact {
		order: 1;
		width: 100%;

		@media (min-width: 1200px) {
			margin: auto;
			order: 2;
			width: calc(60% - 40px);
		}
	}

	&__details_contact {
		margin-bottom: 12px;
		&_heading {
			font-size: $size-xs;
			font-weight: $font-weight-normal;
			line-height: calc($line-height-m);
		}

		&_content {
			font-size: $size-l;
			font-weight: $font-weight-bold;
			line-height: $line-height-xl;
		}
	}

	&__contact_form {
		width: 100%;
		&_group {
			width: 100%;
			@media (min-width: 770px) {
				// max-width: 525px;
				display: inline-flex;
				gap: 32px;
				align-items: center;
				> * {
					flex-grow: 1;
				}
			}
		}
		&_input {
			margin-top: 28px;
			display: flex;
			flex-grow: 1;
			flex-direction: column;

			label {
				font-size: $size-xxs;
				font-weight: $font-weight-normal;
				line-height: $line-height-xs;
				color: $grey;
				margin-bottom: 8px;
			}
			input,
			textarea {
				font-size: $size-xxs;
				font-weight: $font-weight-secondary;
				line-height: $line-height-xs;
				font-family: $main-family;
				border: 1px solid #eeeeee;
				border-radius: 4px;
				background-color: #ffffff;
				padding: 16px;
				
			}
			textarea {
				width: 100%;
				resize: vertical;
			}
		}
		&_button {
			margin-top: 28px;
			padding: 16px 40px;
			border-radius: 8px;
			background-color: $accent;
			color: #ffffff;
			font-size: $size-xxs;
			font-weight: $font-weight-normal;
			line-height: $line-height-xs;
			border: none;
			cursor: pointer;

			&:hover {
				background: linear-gradient(0deg, $accent, $accent), linear-gradient(90.97deg, #00c6fb -13.19%, #005bea 67.56%);
			}
		}
	}
}
