@import "../../../styles/variables560.scss";

@media (min-width: 580px) {
		@import "../../../styles/variables560.scss";
	}

	@media (min-width: 770px) {
		@import "../../../styles/variables770.scss";
	}

	@media (min-width: 990px) {
		@import "../../../styles/variables990.scss";
	}

	@media (min-width: 1200px) {
		@import "../../../styles/variables1200.scss";
	}

.container {
	width: 100%;
	padding: 0px 10px;
	margin: 0 auto;

	@media (min-width: 580px) {
		max-width: 540px;
	}

	@media (min-width: 770px) {
		max-width: 720px;
	}

	@media (min-width: 990px) {
		max-width: 960px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}

	.section_heading {
		margin-bottom: 48px;

		h2 {
			font-size: $size-xl;
			font-weight: $font-weight-bold;
			line-height: $line-height-xl;
			padding-bottom: 16px;
			position: relative;
			color: #111111;

			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	display: block;
			// 	width: 50px;
			// 	height: 3px;
			// 	background: #229eeb;
			// 	bottom: 0;
			// }

			span,
			span.highlight {
				font-weight: $font-weight-bold;
				line-height: $line-height-xl;
				color: $accent;
			}
		}

		.subtitle {
			font-size: $size-s;
			line-height: $line-height-s;
			font-weight: $font-weight-secondary;
			color: $grey;
		}

		// p {
		// 	font-size: $size-xxs;
		// 	font-weight: 600;
		// 	margin-bottom: 25px;
		// 	color: #212529;
		// 	position: relative;
		// }
	}

	.section_body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		/* -ms-flex-wrap: wrap; */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 auto;
		align-items: center;
	}
}
