@import "../../../styles/variables.scss";

.step_carousel {
	overflow: hidden;
	@media (min-width: 990px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 100px;
	}

	margin-bottom: 120px;

	&_navigator {
		// width: 100%;

		transition: all 0.3s ease;

		&_item {
			display: flex;
			align-items: center;
			justify-content: center;
			// width: 100%;
			cursor: pointer;
			transition: all 0.3s ease;

			padding: 16px 20px;
			border-radius: 8px;

			@media (min-width: 990px) {
				border-radius: 0 8px 8px 0;
				border-left: 3px solid #eeeeee;
				justify-content: left;
				padding: 32px 40px;
			}
			span {
				font-size: $size-xs;
				font-weight: $font-weight-normal;
				line-height: $line-height-s;
			}
		}

		@media (max-width: 989px) {
			display: flex;
		}
	}

	&_container {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	&__items {
		display: flex;
		transition: all 0.3s ease;

		@media (min-width: 990px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			flex-direction: column;
		}
	}

	&__item {
		@media (min-width: 990px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}
		flex-grow: 1;
		width: 100%;
		overflow: hidden;
		padding: 8px;

		&_description {
			font-size: $size-xs;
			font-weight: $font-weight-secondary;
			line-height: $line-height-s;
		}
		@media (max-width: 990px) {
			margin-top: 40px;
		}
	}
}
