@import "../../../styles/variables560.scss";

.hero {
	scroll-snap-align: start;

	background-color: $bg-color;
	display: flex;
	align-items: center;

	padding: 0 0 32px;
	@media (max-width: 580px) {
		height: calc(100vh - 68px);
	}

	&_content {
		width: 100%;
		order: 2;
		@media (min-width: 990px) {
			order: 1;
			width: 50%;
		}
		
		// flex: 1 1 auto;
	}

	&_heading {
		font-size: $size-l;
		font-weight: $font-weight-bold;
		line-height: $line-height-l;
		color: $base-color;
		margin: 40px 0 32px;
		position: relative;

		&:after {
			content: url("../../../public/flashSmall.svg");
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			transform: translate(-25%, -50%);
			width: 40px;
		}

		.animated_text div {
			font-size: $size-l;
			font-weight: $font-weight-bold;
			line-height: $line-height-l;
			color: $accent;
			padding-right: 5px;
		}
	}

	&_image {
		// width: 100%;
		// height: 100%;
		margin:0 auto;
		// flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		order: 1;
		@media (min-width: 990px) {
			order: 2;
			margin: 0;
			width: 50%;
		}
		@media (max-width: 580px) {
			max-width: 370px;
		}

		img {
			height: 100%;
			width: auto;
			// max-width: 60vw;
			// @media (min-width: 990px) {
			// 	max-width: 40vw;
			// }
			// height: auto;
			// background-size: cover;
			// background-position: center;
			// background-repeat: no-repeat;
		}
	}
}

.shapeDividerWrapper {
	width: 100%;
	position: relative;
	// top: 5px;

	@media (max-width: 580px) {
		display: none;
	}

	img {
		// position: absolute;
		// top:0;
		// left:0;
		// right: 0;
		width: 100%;
		// height: 200px;
		// object-fit: scale-down;
	}
}
