@import "../../../styles/variables560.scss";



.action_btn {
	font-family: $main-family;
	font-size: $size-xxs;
	font-weight: $font-weight-bold;
	line-height: $line-height-xs;
	letter-spacing: 0em;
	color: #ffffff;

	// display: flex;
	// flex-direction: row;
	// align-items: center;
	padding: 16px 20px;
	border-radius: 8px;
	border: none;

	background: $accent;
	cursor: pointer;

	// transition: all 0.3s ease-in-out;

	&:hover {
		background: linear-gradient(0deg, $accent, $accent), linear-gradient(90.97deg, #00c6fb -13.19%, #005bea 67.56%);
	}
}
