@import "../../../styles/variables560.scss";

.navbar {
	// position: fixed;
	scroll-snap-align: start;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 0;
	background: $bg-color;
	z-index: 1;

	&__logo {
		color: $base-color;
		font-size: 26px;
		font-weight: $font-weight-bold;
		padding: 0 12px 0 0;
		margin-right: 10px;
		line-height: $line-height-s;

		display: flex;
		align-items: center;
		justify-content: center;
		// img{
		// 	margin-right: 8px;
		// }
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-grow: 1;
		// position: relative;

		&_list {
			display: flex;
			align-items: center;
			flex-grow: 1;

			&_item {
				padding: 12px;
				margin: 0 8px;
				font-size: $size-xxs;
				font-weight: $font-weight-secondary;
				color: $grey-light;
				line-height: $line-height-xs;
				text-decoration: none;
				transition: all 0.3s;

				&:hover {
					color: $base-color;
				}
			}
		}

		.hamburgerWrapper {
			display: none;
			position: relative;
			width: 40px;
			z-index: 110;
			margin-left: auto;
			padding: 20px;

			.hamburger {
				position: absolute;
				width: 20px;
				height: 1.5px;
				background: $base-color;
				display: block;
				transform: translateX(-50%);
				transition: 0.5s ease-in-out;
				z-index: 120;
				&:after,
				&:before {
					transition: 0.5s ease-in-out;
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background: $base-color;
				}
				&:before {
					top: -7px;
				}
				&:after {
					bottom: -7px;
				}
			}
		}

		@media (max-width: 770px) {
			// &_list,
			// button {
			// 	display: none;
			// 	opacity: 0;
			// }

			&_list {
				// display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background: $base-color;
				z-index: 100;

				flex-direction: column;
				justify-content: center;
				pointer-events: none;

				transition: all 0.3s ease-out;
				clip-path: circle(0px at calc(100% - ((100vw - 40px) / 2) - 40px) calc(40px));
				@media (min-width: 580px) {
					clip-path: circle(0px at calc(100% - ((100vw - 540px - 40px) / 2) - 40px) calc(40px));
				}

				&_item {
					font-size: $size-m;
					// padding: 16px 20px;
					// margin-bottom: 12px;
					line-height: $line-height-m;
					color: #111111;
					font-weight: 500;
					&:hover {
						border-radius: 25px;
						color: $accent;
					}
				}
			}

			&.active &_list {
				// display: flex;
				pointer-events: all;

				clip-path: circle(120vh at calc(100% - ((100vw - 40px) / 2) - 45px) calc(40px));
				@media (min-width: 580px) {
					clip-path: circle(120vh at calc(100% - ((100vw - 540px - 40px) / 2) - 45px) calc(40px));
				}
			}

			.hamburgerWrapper {
				display: block;
			}

			&.active {
				.hamburgerWrapper {
					position: fixed;
					top: 12px;
					right: calc((40px) / 2);
					@media (min-width: 580px) {
						right: calc(((100vw - 580px) / 2) + 20px);
					}
					.hamburger {
						background: #111111;
						transform: translateX(-50%) rotate(45deg);
						&:before {
							top: 0;
							transform: rotate(90deg);

							background: #111111;
						}
						&:after {
							bottom: 0;
							transform: rotate(90deg);

							background: #111111;
						}
					}
				}
			}
			// .menu {
			// 	position: absolute;
			// 	right: 0px;
			// 	top: 0px;
			// 	z-index: 100;
			// 	width: 0px;
			// 	height: 0px;
			// 	background: #fff;
			// 	border-radius: 50% 50% 50% 50%;
			// 	transition: 0.5s ease-in-out;
			// 	box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
			// 	cursor: pointer;
			// }

			// &:before{
			// 	content: "";
			// 	position: fixed;
			// 	top: 0;
			// 	right: 0;
			// 	background: $bg-color;
			// 	z-index: 100;
			// 	transition: 0.5s ease-in-out;

			// }
			// ul {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	height: 100vh;
			// 	width: 100vw;
			// 	background: $base-color;
			// 	transition: all 0.4s ease-out;
			// 	pointer-events: none;
			// 	flex-direction: column;
			// 	justify-content: center;
			// 	align-items: center;
			// 	clip-path: circle(0px at calc(100% - 37px) calc(50px));
			// }

			// ul {
			// 	pointer-events: all;
			// 	clip-path: circle(100% at calc(100% - 37px) calc(50px));
			// }
		}
	}
}
