@import "../../../styles/variables.scss";

.navbar {
	// position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 0;
	background: $bg-color;
	z-index: 1;

	&__logo {
		color: $base-color;
		font-size: $size-s;
		font-weight: $font-weight-bold;
		padding: 0 12px;
		margin-right: 10px;
		line-height: $line-height-s;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__menu {
		flex-grow: 1;

		&_list {
			display: flex;
			align-items: center;
			// justify-content: center;
			flex-grow: 1;

			&_item {
				padding: 12px;
				margin: 0 8px;
				font-size: $size-xxs;
				font-weight: $font-weight-secondary;
				color: $grey-light;
				line-height: $line-height-s;
				text-decoration: none;
				transition: all 0.3s;

				&:hover {
					color: $base-color;
				}
			}
		}
	}
}
