@import "../../../styles/variables560.scss";

@media (min-width: 580px) {
	@import "../../../styles/variables560.scss";
}

@media (min-width: 770px) {
	@import "../../../styles/variables770.scss";
}

@media (min-width: 990px) {
	@import "../../../styles/variables990.scss";
}

@media (min-width: 1200px) {
	@import "../../../styles/variables1200.scss";
}

.navbar {
	// position: fixed;
	scroll-snap-align: start;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 0;
	background: $bg-color;
	z-index: 1;

	&__logo {
		color: $base-color;
		font-size: $size-s;
		font-weight: $font-weight-bold;
		padding: 0 12px 0 0;
		margin-right: 10px;
		line-height: $line-height-s;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-grow: 1;
		position: relative;

		&_list {
			display: flex;
			align-items: center;
			flex-grow: 1;

			&_item {
				padding: 12px;
				margin: 0 8px;
				font-size: $size-xxs;
				font-weight: $font-weight-secondary;
				color: $grey-light;
				line-height: $line-height-s;
				text-decoration: none;
				transition: all 0.3s;

				&:hover {
					color: $base-color;
				}
			}
		}

		@media (max-width: 770px) {
			// &_list,
			// button {
			// 	display: none;
			// 	opacity: 0;
			// }
			// .menu {
			// 	position: absolute;
			// 	right: 0px;
			// 	top: 0px;
			// 	z-index: 100;
			// 	width: 0px;
			// 	height: 0px;
			// 	background: #fff;
			// 	border-radius: 50% 50% 50% 50%;
			// 	transition: 0.5s ease-in-out;
			// 	box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
			// 	cursor: pointer;
			// }

			// &:before{
			// 	content: "";
			// 	position: fixed;
			// 	top: 0;
			// 	right: 0;
			// 	background: $bg-color;
			// 	z-index: 100;
			// 	transition: 0.5s ease-in-out;

			// }
			// ul {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	height: 100vh;
			// 	width: 100vw;
			// 	background: $base-color;
			// 	transition: all 0.4s ease-out;
			// 	pointer-events: none;
			// 	flex-direction: column;
			// 	justify-content: center;
			// 	align-items: center;
			// 	clip-path: circle(0px at calc(100% - 37px) calc(50px));
			// }
			.hamburgerWrapper {
				display: inline;
				position: relative;
				width: 40px;
				z-index: 110;
				margin-left: auto;
				padding: 20px;

				.hamburger {
					position: absolute;
					width: 20px;
					height: 1.5px;
					background: $base-color;
					display: block;
					transform: translateX(-50%);
					transition: 0.5s ease-in-out;
					z-index: 120;
					&:after,
					&:before {
						transition: 0.5s ease-in-out;
						content: "";
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						background: $base-color;
					}
					&:before {
						top: -7px;
					}
					&:after {
						bottom: -7px;
					}
				}
			}

			&.active {
				// ul {
				// 	pointer-events: all;
				// 	clip-path: circle(100% at calc(100% - 37px) calc(50px));
				// }
				.hamburgerWrapper {
					.hamburger {
						transform: translateX(-50%) rotate(45deg);
						&:before {
							top: 0;
							transform: rotate(90deg);
						}
						&:after {
							bottom: 0;
							transform: rotate(90deg);
						}
					}
				}
			}

			// &.active {
			// 	position: fixed;
			// 	display: flex;
			// 	flex-direction: column;
			// 	justify-content: center;
			// 	align-items: center;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100vw;
			// 	height: 100vh;
			// 	z-index: 100;
			// 	// pointer-events: none;

			// 	+ .hamburgerWrapper {
			// 		.hamburger {
			// 			transform: translateX(-50%) rotate(45deg);
			// 			&:before {
			// 				top: 0;
			// 				transform: rotate(90deg);
			// 			}
			// 			&:after {
			// 				bottom: 0;
			// 				transform: rotate(90deg);
			// 			}
			// 		}
			// 	}

			// 	&:before {
			// 		content: "";
			// 		position: absolute;
			// 		width: 100vh;
			// 		height: 100vw;
			// 		background: $bg-color;
			// 		z-index: 100;
			// 	}
			// }
			// &.active &_list,
			// &.active &_list + * {
			// 	display: block;
			// 	opacity: 1;
			// }
			// &.active &_list {
			// 	flex-grow: unset;
			// }
		}
	}
}
