@import "../../../styles/variables560.scss";

@media (min-width: 580px) {
		@import "../../../styles/variables560.scss";
	}

	@media (min-width: 770px) {
		@import "../../../styles/variables770.scss";
	}

	@media (min-width: 990px) {
		@import "../../../styles/variables990.scss";
	}

	@media (min-width: 1200px) {
		@import "../../../styles/variables1200.scss";
	}

.about {
	scroll-snap-align: start;
	position: relative;

	background-image: url("../../../public/flashBig.svg");
	background-repeat: no-repeat;
	background-position: 10% 35%;

	&_content {
		&_tiles {
			display: inline-flex;
			flex-wrap: wrap;
			gap: 32px;

			margin-bottom: 120px;

			& > *:nth-child(4n + 2),
			& > *:nth-child(4n + 3) {
				width: 100%;

				@media (min-width: 990px) {
					width: calc(60% - 16px);
				}
			}
			& > *:nth-child(4n + 1),
			& > *:nth-child(4n + 4) {
				width: 100%;

				@media (min-width: 990px) {
					width: calc(40% - 16px);
				}
			}
		}

		&_tile {
			display: flex;
			flex-direction: column;

			.separator {
				width: 100%;
				height: 1px;
				margin-bottom: 24px;
			}

			&_text {
				font-size: $size-m;
				font-weight: $font-weight-normal;
				line-height: $line-height-m;

				span {
					font-size: $size-l;
					font-weight: $font-weight-bold;
					line-height: $line-height-l;
				}
			}
		}

		// &_text {
		// 	font-size: $size-s;
		// 	font-weight: 600;
		// 	line-height: 35px;
		// 	margin-bottom: 56px;
		// }

		&_grid {
			display: grid;
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
			// grid-gap: calc(45px + (56 - 45) * ((100vw - 300px) / (1440 - 300))) calc(50px + (90 - 50) * ((100vw - 300px) / (1440 - 300)));;
			grid-gap: 56px;
			margin-bottom: 120px;

			@media (min-width: 540px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
