@import "../../../styles/variables560.scss";



.snap_carousel {

	&_container {
		scroll-snap-align: start;
		width: 100%;
		height: 100vh;
		margin: 50px 0;
		padding: 85px 0;
		display: inline-flex;
		justify-content: space-between;
		> * {
			width: 100%;
			@media (min-width: 990px) {
				width: 50%;
			}
		}
		@media (max-width: 990px) {
			flex-direction: column;
			justify-content: center;

			&:first-child {
				padding-top: 0px;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		@media (min-width: 990px) {
			max-width: 475px;
			// justify-content: center;
		}

		&_description {
			> * {
				margin-bottom: 14px;
			}
			&_icon {
				img {
					width: 80px;
					height: 80px;
				}
			}
			&_title {
				font-size: $size-xl;
				font-weight: $font-weight-bold;
				line-height: $line-height-xl;
			}
			&_content {
				font-size: $size-xs;
				font-weight: $font-weight-secondary;
				line-height: $line-height-s;
				color: #112222;
			}
		}

		&_image {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 16px;
			padding: 55px;
			
			img {
				width: 100%;
				max-width: 60vw;
				@media (min-width: 560px) {
					max-width: 40vw;
				}
				height: auto;
			}
		}
	}
	&__navigator {
		display: none;
		&_item {
			padding: 8px 0;
			border-bottom: 1.5px solid #f0f0f0;
			span {
				font-size: 20px;
				font-weight: 500;
				line-height: 29px;
				opacity: 0.5;
				&.active_tab {
					font-weight: 700;
					opacity: 1;
				}
			}
		}
	}
}
