//COLORS
$bg-color: #111227;

$base-color: #ffffff;
$base-color-light: #f3f4f4;

$accent: #1771e4;

$grey: #767676;
$grey-light: #d3d3d3;

//TYPOGRAPHY
$main-family: "Inter", "Nunito", "Source Sans Pro", Helvetica, Arial, sans-serif;

$font-weight-normal: 500;
$font-weight-secondary: 400;
$font-weight-bold: 700;

$line-height-xl: 72px;
$line-height-l: 62px;
$line-height-m: 47px;
$line-height-s: 30px;
$line-height-xs: 23px;

$size-xxs: 14px;
$size-xs: 20px;
$size-s: 24px;
$size-m: 32px;
$size-l: 48px;
$size-xl: 56px;

// //SPACING
// $margin-xs: 5px;
// $margin-s: 10px;
// $margin-m: 20px;
// $margin-l: 40px;
// $margin-xl: 80px;

// $padding-s: $margin-s $margin-s + 5px;
// $padding-m: $margin-m;
// $padding-l: $margin-m + 10px $margin-l;

// //BORDERS
// $border-style: solid;
// $border-width: 1px;
// $border-width-alt: 2px;
// $border-radius: 5px;

// //ANIMATIONS
// $transition-duration: 0.3s;
// $transition-duration-alt: 0.1s;
// $transition-timing: ease;

// //ELEMENTS
// $header-height: 74px;
// $sidebar-width: 250px;
