//COLORS
$bg-color: #111227;

$base-color: #ffffff;
$base-color-light: #f3f4f4;

$accent: #1771e4;

$grey: #767676;
$grey-light: #d3d3d3;

//TYPOGRAPHY
$main-family: "Inter", "Nunito", "Source Sans Pro", Helvetica, Arial, sans-serif;

$font-weight-normal: 500;
$font-weight-secondary: 400;
$font-weight-bold: 700;

// $line-height-xl: 72px;
// $line-height-l: 62px;
// $line-height-m: 47px;
// $line-height-s: 30px;
// $line-height-xs: 23px;

// $line-height-xl: calc(36px + (72 - 36) * ((100vw - 300px) / (1440 - 300)));
$line-height-xl: calc(38px + (58 - 38) * ((100vw - 300px) / (1440 - 300)));
$line-height-l: calc(38px + (58 - 38) * ((100vw - 300px) / (1440 - 300)));
$line-height-m: calc(28px + (48 - 28) * ((100vw - 300px) / (1440 - 300)));
$line-height-s: calc(26px + (32 - 24) * ((100vw - 300px) / (1440 - 300)));
$line-height-xs: calc(18px + (18 - 18) * ((100vw - 300px) / (1440 - 300)));
$line-height-xxs: calc(24px + (24 - 24) * ((100vw - 300px) / (1440 - 300)));

// $size-xxs: 14px;
// $size-xs: 20px;
// $size-s: 24px;
// $size-m: 32px;
// $size-l: 48px;
// $size-xl: 56px;
$size-xxs: calc(16px + (16 - 16) * ((100vw - 300px) / (1440 - 300)));
$size-xs:  calc(12px + (20 - 12) * ((100vw - 300px) / (1440 - 300)));
$size-s:   calc(16px + (20 - 16) * ((100vw - 300px) / (1440 - 300)));
$size-m:   calc(20px + (32 - 20) * ((100vw - 300px) / (1440 - 300)));
$size-l:   calc(30px + (48 - 32) * ((100vw - 300px) / (1440 - 300)));
$size-xl:   calc(30px + (48 - 32) * ((100vw - 300px) / (1440 - 300)));
// $size-xl:  calc(32px + (56 - 32) * ((100vw - 300px) / (1440 - 300)));

// //SPACING
// $margin-xs: 5px;
// $margin-s: 10px;
// $margin-m: 20px;
// $margin-l: 40px;
// $margin-xl: 80px;

// $padding-s: $margin-s $margin-s + 5px;
// $padding-m: $margin-m;
// $padding-l: $margin-m + 10px $margin-l;

// //BORDERS
// $border-style: solid;
// $border-width: 1px;
// $border-width-alt: 2px;
// $border-radius: 5px;

// //ANIMATIONS
// $transition-duration: 0.3s;
// $transition-duration-alt: 0.1s;
// $transition-timing: ease;

// //ELEMENTS
// $header-height: 74px;
// $sidebar-width: 250px;
